<head>
    <link rel="stylesheet" href="header.component.scss" />
</head>
<div id="header">
    <div class="nav">
        <a routerLink="/"><img src="./assets/images/logo.png" alt="logo" /></a>
        <ul>
            <li><a routerLink="/home">Főoldal</a></li>
            <li><a routerLink="/recommendations">Ajánlataink</a></li>
            <li><a routerLink="/about">Rólunk</a></li>
            <li><a routerLink="/products">Termékeink</a></li>
        </ul>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="profileMenu">
                <mat-icon class="icon">account_circle</mat-icon>
            </button>
            <button mat-icon-button routerLink="/cart" class="cart-button">
                <mat-icon class="icon">shopping_cart</mat-icon>
            </button>
        </div>
        <mat-menu #profileMenu="matMenu" xPosition="before" class="profile-menu">
            <ng-container [ngSwitch]="isLoggedIn$ ? 'loggedIn' : 'loggedOut'">

                <ng-container *ngSwitchCase="'loggedOut'">
                    <button mat-menu-item routerLink="/login">Bejelentkezés</button>
                    <button mat-menu-item routerLink="/register">Regisztráció</button>
                </ng-container>

                <ng-container *ngSwitchCase="'loggedIn'">
                    <button mat-menu-item routerLink="/profile">Profil</button>
                    <button mat-menu-item routerLink="/recent-orders">Rendelések</button>
                    <button mat-menu-item (click)="logout()" routerLink="/">Kijelentkezés</button>
                </ng-container>

            </ng-container>
        </mat-menu>
    </div>
</div>