<div class="recent-orders">
  <div class="orders-container" *ngIf="recentOrders.length > 0; else noOrders">
    <h2>Rendeléseid</h2>

    <mat-card *ngFor="let order of recentOrders" class="order-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          <strong>Rendelés dátuma: {{ order.createdAt.toString() | dateFormat }}</strong>
        </mat-card-title>
        <mat-card-subtitle>
          <strong>Fizetett összeg: {{ order.totalPrice | formatPrice }}</strong>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul class="order-items">
          <li *ngFor="let item of order.products">
            {{ item.name }} - {{ item.quantity }} db - {{ item.quantity*item.price | formatPrice }}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #noOrders>
    <p>Nincs még rendelésed.</p>
  </ng-template>
</div>