<div class="products-page">
    <div class="products-ctn">
        <div class="filter-ctn">
            <mat-button-toggle-group multiple class="filters" (change)="filterProducts($event)">
                <mat-button-toggle *ngFor="let category of categories" [value]="category">{{
                    category}}</mat-button-toggle>
            </mat-button-toggle-group>
            
            <button mat-fab extended color="primary" class="add-product-btn" *ngIf="isAdminUser"
                (click)="openAddProductDialog()">
                <mat-icon>add</mat-icon>
                Termék hozzáadása
            </button>
        </div>
        <div class="product-grid">
            <app-product-card *ngFor="let product of selectedProducts" [product]="product"
                (addedToCart)="onAddItemToCart($event)" (deleteProduct)="openDeleteProductDialog($event)"
                (updateProduct)="openUpdateProductDialog($event)">
            </app-product-card>
        </div>
    </div>
</div>