<div class="products-page">
    <div class="products-ctn">
        <div class="filter-ctn">
            <mat-button-toggle-group multiple class="filters" (change)="filterProducts($event)">
                @for (category of categories; track $index) {
                    <mat-button-toggle value={{category}}>{{category}}</mat-button-toggle>
                }
            </mat-button-toggle-group>
        </div>
        <mat-grid-list cols="4" rowHeight="35rem">
            @for (product of selectedProducts; track product.id) {
            <mat-grid-tile>
                <mat-card class="product-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title>{{product.name}}</mat-card-title>
                        <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src={{product.imageUrl}} />
                    <mat-card-content>
                        <p>{{product.description}}</p>
                        <p><strong>{{product.price | formatPrice}}</strong></p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-flat-button class="cart-btn">Kosárba</button>
                        <button mat-icon-button><mat-icon class="fav-icon">favorite</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            }
        </mat-grid-list>

    </div>
</div>