@use '@angular/material' as mat;

* {
    margin: 0;
    padding: 0;
}

:root {
    @include mat.dialog-overrides((container-color: #defdbd,
            subhead-color: rgba(0, 0, 0, 0.5),
        ));
}

.products-page {
    margin: 3rem;
}

.filter-ctn {
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
    @include mat.button-toggle-overrides((selected-state-background-color: #d9ff96,
        ));
    display: flex;
    flex-wrap: wrap;
}

::ng-deep .order-by-menu {
    @include mat.menu-overrides((item-label-text-size: 0.7rem,
            item-hover-state-layer-color: #c7f774,
            item-focus-state-layer-color: #d8ff96a4,
            container-color: #d9ff96,
        ));
}

.add-product-btn {
    padding: 1rem;
    color: #12ce00;
    @include mat.fab-overrides((container-color: #d9ff96,
            ripple-color: #c5e78b,
        ));

    mat-icon {
        margin-right: 0.1rem;
    }
}

::ng-deep .price-slider {
    @include mat.slider-overrides((focus-handle-color: #92f4c5,
            hover-state-layer-color: #96ffcc2b,
            handle-color: #96ffcc,
            hover-handle-color: #24bdcb,
            active-track-color: #78cba3,
            inactive-track-color: #8df0c0,
            focus-state-layer-color: #96ffcc32,
            handle-width: 1rem,
            handle-height: 1rem,
            label-container-color: #63a887));
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
}