<div class="cart-container">
  <h2>Kosár</h2>
  <p *ngIf="!this.hasCart">Nincs a kosárban semmilyen termék.</p>
  <div class="cart-item-container" *ngIf="this.hasCart">
    <app-cart-items *ngFor="let item of cart" [item]="item" (totalPrice)="getTotalPrice()" (deleteProduct)="loadData()"></app-cart-items>
  </div>

  <div class="cart-summary" *ngIf="this.hasCart">
    <h3>Összesen: {{ this.totalPrice | formatPrice }}</h3>
    <button mat-flat-button class="buy-btn" (click)="onSubmit()">Fizetés</button>
  </div>
</div>