@use '@angular/material' as mat;

$fill-color-primary: #defdbd;
$fill-color-secondary: #91c45a;

.dialog {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 20rem;
    @include mat.form-field-overrides((
        filled-container-color: $fill-color-primary,
        filled-focus-label-text-color: $fill-color-secondary,
        filled-focus-active-indicator-color: $fill-color-secondary,
        filled-caret-color: $fill-color-secondary,
    ));
}



