<form [formGroup]="profileForm" class="dialog">
    <mat-form-field>
        <mat-label>Vezetéknév</mat-label>
        <input matInput formControlName="surname">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Keresztnév</mat-label>
        <input matInput formControlName="firstname">
    </mat-form-field>
    <!-- <mat-form-field>
        <mat-label>Email cím</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Telefonszám</mat-label>
        <input matInput formControlName="phone">
    </mat-form-field> -->
    <button mat-raised-button color="primary" (click)="onSubmit()">Mentés</button>
</form>